#dashboard{
    height: 100%;
}

#left-bar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    color: white;
    background-color: #1c1c1f;
    height: 100%;
    padding: 70px 30px 70px 85px;
}

h2{
    font-weight: bold;
}

.name{
    font-size: 15px;
    font-weight: bold;
    margin-left: -25px;
}

.image-user{
    border-radius: 100px;
    width: 65px;
}

.image-container{
    margin-bottom: 10px;
    position: relative;
    padding: 8px 20px 8px 45px;
}

#menu a{
    position: relative;
    display: block;
    color: #ddd;
    padding: 8px 20px 8px 45px;
    margin-bottom: 5px;
}

#menu i{
    position: absolute;
    top: 11px;
    left: 25px;
}

#menu a:hover{
    text-decoration: none;
    color: #fff;
}


#content{
    background-color: #fff5f5;
    height: 100%;
    margin-left: 340px;
    padding: 30px 40px;
    overflow-y: auto;
}

.active{
    border-bottom: 4px solid #84BD00;
    padding-bottom: 4px;
}
